<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Beginning</title>
</head>
<body>
  <h1>Welcome</h1>
  <header>
    <ul>
      <li>
        <button><a href="#">Login</a></button>
      </li>
      <br>
      <li>
        <button><a href="#">Signup</a></button>
      </li>
    </ul>
  </header>
</body>
</html>